<html>
<head>
    <title>Hotlab Connect</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Hotlab Connect</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="\settings">Settings</a>
                </li>
                <li class="active">
                    <a href="\about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
        <h1>About</h1>
        <p>Hotlab Connect</p>
        <p>Theo Kitsos</p>
        <p>The Children's Hospital Westmead</p>
    </div>
</div>
</body>
</html>