<html>
<head>
    <title>Hotlab Connect</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="/">Hotlab Connect</a>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="\settings">Settings</a>
                </li>
                <li>
                    <a href="\about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
        <h1>Hotlab Connect</h1>
        <p>Hotlab Connect is the gateway to access Hotlab peripherals. Currently Atomlab 100 Dose calibrators and Barcode Scanners are supported..</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>
</body>
</html>